.ui.borderless.menu {
  margin-top: 10px;
  margin-left: 20px;
  border: none;
  box-shadow: none;
  background-color: rgb(245, 235, 220);
}

.ui.menu .item {
  color: rgb(80, 35, 20);
  font-family: "Flame Sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 700;
  background-color: rgb(245, 235, 220);
}

body {
  font-family: "Flame Sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

.tiny.ui.image {
  margin-left: 330px;
}

.round {
  border-radius: 15px 15px 15px 15px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  height: 30px;
  font-size: 10px;
}

.six.wide.column img {
  border-radius: 15px 15px 15px 15px;
  border: white 2px solid;
}

.section1 {
  background-color: rgb(245, 235, 220);
  height: 800px;
}

.section-1-2-between {
  background-color: rgb(245, 235, 220);
  height: 80px;
}

.section2 {
  background-color: rgb(239, 225, 204);
  height: 1000px;
}

.phone {
  height: 700px;
  margin-left: 300px;
}

.section2 .ui.list {
  color: rgb(80, 35, 20);
  font-size: 56px;
  font-weight: 900;
  float: right;
  margin-right: 500px;
  margin-top: 100px;
  font-family: "Flame bold", sans-serif;
}

.b-label {
  height: 50px;
}

.item .text {
  float: right;
}

